{% extends 'base.html.twig' %}

{% block title %}Nový autor{% endblock %}

{% block body %}
    <h1>Vytvořit autora</h1>
    <div class= "row-12">
    <div class="col-12">
    {{ include('autor/_form.html.twig') }}
    <div class= "col">
    <a href="{{ path('app_autor_index') }}" class= "btn btn-warning">Zpět</a>
     </div> </div></div>
{% endblock %}
