<form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}"  onsubmit="return confirm('Chcete smazat tuto položku?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger">Odstranit</button>
</form>
