{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Upravit knihu</h1>
    <div class="mb-3">
    {{ include('book/_form.html.twig', {'button_label': 'Uložit'}) }}
    </div>
<div class="row">

    <div class="col">
    <a href="{{ path('app_book_index') }}" class="btn btn-warning">Zpět na hlavní stránku</a>
    </div>
    <div class="col text-end">
    {{ include('book/_delete_form.html.twig') }}
    </div>
</div> 
{% endblock %}
