{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Nová kniha</h1>
    {{ include('book/_form.html.twig') }}
    <div class="row-12">
    <div class="col-12">
    <a href="{{ path('app_book_index') }}" class="btn btn-warning">Zpět na hlavní stránku</a>
    </div></div>
{% endblock %}
